<div class="page-container home-page">
  <aside class="left">
    {{profile-card user=model.user}}
  </aside>

  <main>
  <div class="meow-add">
    <img class="avatar" src={{model.user.avatar}}/>
    <input class="meow-input card bubble" placeholder="Tell us about your cat!"/><button class="meow" {{action (action "meow")}}>Meow</button>
  </div>
{{!--     {{meow-add user=model.user}}
 --}}    {{meow-list meows=model.meows}}
  </main>
</div>
